.navbar {
  flex-shrink: 0;
}

.navbar-brand {
  margin: {
    top: -0.5rem;
    bottom: -0.5rem;
  }

  padding: {
    top: 0;
    bottom: 0;
  }
}

.navbar-collapse {
  padding: 0.5rem 0;

  @include media-breakpoint-up(sm) {
    padding: 0;
  }
}

section#frame, section#wrapper {
  display: flex;
  flex-direction: column;
}

section#wrapper, section#page {
  flex-grow: 1;
}

section#frame {
  height: 100vh;
}

section#wrapper {
  padding-top: $spacer;
  overflow-y: auto;
}

section#footer {
  @extend .bg-light;
}
