section#character {
  @extend .container;
  @extend .bg-light;

  margin-top: -$spacer;
  padding: {
    top: $spacer;
    bottom: $spacer;
  }

  h3 {margin-bottom: $spacer;}
}

.card-character {
  @extend .bg-dark;

  min-width: 240px;
  margin-bottom: $spacer;
  color: $white;

  .card-title {
    margin: 0;
  }

  &:hover {
    color: $white;
    text-decoration: none;
  }
}
