$fa-font-path: "/assets/fonts";

$red: #e23636;
$black: #000000;
$gray: #504a4a;
$blue: #518cca;
$orange: #f78f3f;

$border-radius: 0;

@import "~font-awesome/scss/font-awesome";
@import "~bootstrap/scss/bootstrap";

@import "Frame/style.scss";
@import "Characters/style.scss";
@import "Character/style.scss";

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  filter: sepia(100%);
}

.btn-dark {
  &:hover {
    background-color: $orange;
    border-color: $orange;
  }
}

.bg-red {
  background-color: $red !important;
}
